@model LaptopStore.Models.DAO.CreateModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .text-danger {
        font-size: 12px;
        color: #ff0000;
    }

    .alert {
        font-size: 12px;
        color: #4cff00;
    }

    .span_1_of_2 {
        color: #999;
    }
</style>
<div class="register_account">
    <div class="wrap">
        <h4 class="title">Tạo tài khoản</h4>
        @using (Html.BeginForm("Create", "Taikhoan", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success </div>
                }
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <div class="form-group">
                    @Html.LabelFor(model => model.username)
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.username)

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(model => model.password)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPass)
                    @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
                    @Html.PasswordFor(model => model.ConfirmPass)

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.tentk)
                    @Html.ValidationMessageFor(model => model.tentk, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.tentk)

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.phone)
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.phone)

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.mail)
                    @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.mail)

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.diachi)
                    @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.diachi)

                </div>
                <div class="form-group">
                    @Html.MathCaptcha() <br />
                    <p> @ViewBag.ErrorMessage </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="grey">Đăng ký</button>
                    <p class="terms">Đăng ký tài khoản và đồng ý với <a href="#">Chính sách &amp; Điều khoản sử dụng</a>.</p>
                </div>

            </div>
        }

        <div class="clear"></div>
    </div>
</div>

