@model LaptopStore.Models.Entities.DanhMuc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}
<section class="wrapper">
    <div class="row">
        <div class="">
            <section class="panel">
                <header class="panel-heading">
                    Chỉnh Sửa Danh Mục 
                </header>
                <div class="panel-body">
                    @using (Html.BeginForm("Edit","DanhMuc", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "help-block" })
                        <form role="form" class="form-horizontal tasi-form">
                            <div class="form-group has-success">
                                <label class="col-lg-2 control-label">Danh mục</label>
                                <div class="col-lg-10">
                                    @*<input type="text" placeholder="" id="" class="form-control">*@
                                    @Html.EditorFor(model => model.Tendanhmuc)
                                    @Html.ValidationMessageFor(model => model.Tendanhmuc, "", new { @class = "help-block" })
                                    @*<p class="help-block">Successfully done</p>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </section>
        </div>
    </div>
</section>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

