@using LaptopStore.Models.Entities
@using LaptopStore.Models.DAO
@model LaptopStore.Models.Entities.SanPham

@{
    ViewBag.Title = "ChitietSP";
    Layout = "~/Views/Shared/_Lauout_Chitiet.cshtml";
}

<div class="single">
    <div class="wrap">
        <div class="rsidebar span_1_of_left">
            @{
                Html.RenderAction("Danhmuc");
            }
            @{
                Html.RenderAction("Khoanggia");
            }
        </div>
        @{
            var session = (LoginModel)Session[LaptopStore.Models.Common.CommonConstant.USER_SESSION];
        }
        @if (session == null)
        {
            <div class="cont span_2_of_3">
                <div class="labout span_1_of_a1">
                    <!-- start product_slider -->
                    <ul id="etalage">
                        <li>
                            <a href="optionallink.html">
                                <img class="etalage_thumb_image" src="~/Content/images/Products/@Model.Imagelink" />
                                <img class="etalage_source_image" src="~/Content/images/Products/@Model.Imagelink" />
                            </a>
                        </li>
                    </ul>
                    <!-- end product_slider -->
                </div>
                <div class="cont1 span_2_of_a1">
                    <h3 class="m_3">@Model.Tensanpham</h3>

                    <div class="price_single">
                        @* class="reducedfrom">17.790.000</span>*@
                        <span class="actual">        @string.Format("{0:##,#}", Model.Giabandau) VNĐ</span><a href="/Taikhoan/Login">Click để đặt hàng</a>
                    </div>

                    <div class="btn_form">
                        <h3>        </h3>
                        <form>
                            <input type="submit" value="Mua ngay" title="" href="/Cart/AddItem?IDSanpham=@Model.SanphamID&Quantity=1">
                        </form>
                    </div>
                    <ul class="add-to-links">
                        <li><img src="images/wish.png" alt="" /><a href="">Thêm vào danh sách yêu thích</a></li>
                    </ul>
                    <p class="m_desc">        Tặng balo,chuột và lót chuột bo viền</p>
                    <p class="m_desc">        Khuyến mãi 100k cho học sinh,sinh viên</p>
                    <p class="m_desc">        Giảm 100k khi thanh toán bằng tài khoản ngân hàng</p>

                    <div class="social_single">
                        <ul>
                            <li class="fb"><a href="#"><span> </span></a></li>
                            <li class="tw"><a href="#"><span> </span></a></li>
                            <li class="g_plus"><a href="#"><span> </span></a></li>
                            <li class="rss"><a href="#"><span> </span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                @{
                    Html.RenderAction("SPcungDM");
                }
                @*
                <ul id="flexiselDemo3">
                        <li><img src="images/laptop/laptop1.jpg" /><div class="grid-flex"><a href="#">LG</a><p>17.900</p></div></li>
                        <li><img src="images/laptop/laptop6.jpg" /><div class="grid-flex"><a href="#">Lenovo</a><p>15.900</p></div></li>
                        <li><img src="images/laptop/laptop3.jpg" /><div class="grid-flex"><a href="#">Asus</a><p>17.790</p></div></li>
                        <li><img src="images/laptop/laptop4.png" /><div class="grid-flex"><a href="#">Acer</a><p>17.790</p></div></li>
                        <li><img src="images/laptop/laptop5.jpg" /><div class="grid-flex"><a href="#">HP</a><p>16.690</p></div></li>
                    </ul>*@
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo1").flexisel();
                        $("#flexiselDemo2").flexisel({
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });

                        $("#flexiselDemo3").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });

                    });
                </script>
                <script type="text/javascript" src="~Content/js/jquery.flexisel.js"></script>
                <div class="toogle">
                    <h3 class="m_3">Cấu hình chi tiết</h3>
                    <p class="m_text">CPU        : @Model.CPUZ </p>
                    <p class="m_text">RAM        : @Model.Memory </p>
                    <p class="m_text">Card đồ họa: @Model.VGA </p>
                    <p class="m_text">Màu sắc    : @Model.Mausac </p>
                    <p class="m_text">HĐH        : @Model.Hedieuhanh </p>
                    <p class="m_text">Trọng lượng: @Model.Trongluong </p>
                    <p class="m_text">Trọng lượng: @Model.Phukiendikem </p>
                </div>
            </div>
        }
        else
        {
            <div class="cont span_2_of_3">
                <div class="labout span_1_of_a1">
                    <!-- start product_slider -->
                    <ul id="etalage">
                        <li>
                            <a href="optionallink.html">
                                <img class="etalage_thumb_image" src="~/Content/images/Products/@Model.Imagelink" />
                                <img class="etalage_source_image" src="~/Content/images/Products/@Model.Imagelink" />
                            </a>
                        </li>
                    </ul>
                    <!-- end product_slider -->
                </div>
                <div class="cont1 span_2_of_a1">
                    <h3 class="m_3">@Model.Tensanpham</h3>

                    <div class="price_single">
                        @* class="reducedfrom">17.790.000</span>*@
                        <span class="actual">        @string.Format("{0:##,#}", Model.Giabandau) VNĐ</span><a href="/Cart/AddItem?IDSanpham=@Model.SanphamID&Quantity=1">Click để đặt hàng</a>
                    </div>

                    <div class="btn_form">
                        <h3>        </h3>
                        <form>
                            <input type="submit" value="Mua ngay" title="" href="/Cart/AddItem?IDSanpham=@Model.SanphamID&Quantity=1">
                        </form>
                    </div>
                    <ul class="add-to-links">
                        <li><img src="images/wish.png" alt="" /><a href="">Thêm vào danh sách yêu thích</a></li>
                    </ul>
                    <p class="m_desc">        Tặng balo,chuột và lót chuột bo viền</p>
                    <p class="m_desc">        Khuyến mãi 100k cho học sinh,sinh viên</p>
                    <p class="m_desc">        Giảm 100k khi thanh toán bằng tài khoản ngân hàng</p>

                    <div class="social_single">
                        <ul>
                            <li class="fb"><a href="#"><span> </span></a></li>
                            <li class="tw"><a href="#"><span> </span></a></li>
                            <li class="g_plus"><a href="#"><span> </span></a></li>
                            <li class="rss"><a href="#"><span> </span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                @{
                    Html.RenderAction("SPcungDM");
                }
                @*
                <ul id="flexiselDemo3">
                        <li><img src="images/laptop/laptop1.jpg" /><div class="grid-flex"><a href="#">LG</a><p>17.900</p></div></li>
                        <li><img src="images/laptop/laptop6.jpg" /><div class="grid-flex"><a href="#">Lenovo</a><p>15.900</p></div></li>
                        <li><img src="images/laptop/laptop3.jpg" /><div class="grid-flex"><a href="#">Asus</a><p>17.790</p></div></li>
                        <li><img src="images/laptop/laptop4.png" /><div class="grid-flex"><a href="#">Acer</a><p>17.790</p></div></li>
                        <li><img src="images/laptop/laptop5.jpg" /><div class="grid-flex"><a href="#">HP</a><p>16.690</p></div></li>
                    </ul>*@
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselDemo1").flexisel();
                        $("#flexiselDemo2").flexisel({
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });

                        $("#flexiselDemo3").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });

                    });
                </script>
                <script type="text/javascript" src="~Content/js/jquery.flexisel.js"></script>
                <div class="toogle">
                    <h3 class="m_3">Cấu hình chi tiết</h3>
                    <p class="m_text">CPU        : @Model.CPUZ </p>
                    <p class="m_text">RAM        : @Model.Memory </p>
                    <p class="m_text">Card đồ họa: @Model.VGA </p>
                    <p class="m_text">Màu sắc    : @Model.Mausac </p>
                    <p class="m_text">HĐH        : @Model.Hedieuhanh </p>
                    <p class="m_text">Trọng lượng: @Model.Trongluong </p>
                    <p class="m_text">Trọng lượng: @Model.Phukiendikem </p>
                </div>
            </div>
        }

        <div class="clear"></div>
    </div>
</div>

